# dependencies
/node_modules

# next
/.next
/out

# env
.env
.env.local
.env*

# prisma
prisma/*.db
prisma/dev.db
prisma/dev.sqlite

.DS_Store

tsconfig.tsbuildinfo
.vercel

# Sentry Config File
.env.sentry-build-plugin

next-env.d.ts

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/screenshots/